In [3]:
# Importing necessary libraries
import pandas as pd
import seaborn as sns

# Load Iris dataset
data = sns.load_dataset("iris")
# Displaying the first few rows of the dataset
print("Original Dataset:")
print(data.head())

Original Dataset:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:


# Creating a new column 'sepal_ratio' by dividing sepal length by sepal width
data['sepal_ratio'] = data['sepal_length'] / data['sepal_width']

In [5]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_ratio
0           5.1          3.5           1.4          0.2  setosa     1.457143
1           4.9          3.0           1.4          0.2  setosa     1.633333
2           4.7          3.2           1.3          0.2  setosa     1.468750
3           4.6          3.1           1.5          0.2  setosa     1.483871
4           5.0          3.6           1.4          0.2  setosa     1.388889

In [6]:
# Defining a custom function to categorize petal length
def categorize_petal_length(length):
    if length < 3:
        return 'Short'
    elif length >= 3 and length < 5:
        return 'Medium'
    else:
        return 'Long'

In [7]:

# Applying the custom function to create a new column 'petal_length_category'
data['petal_length_category'] = data['petal_length'].apply(categorize_petal_length)

In [8]:
data.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_length_category
0,5.1,3.5,1.4,0.2,setosa,1.457143,Short
1,4.9,3.0,1.4,0.2,setosa,1.633333,Short
2,4.7,3.2,1.3,0.2,setosa,1.468750,Short
3,4.6,3.1,1.5,0.2,setosa,1.483871,Short
4,5.0,3.6,1.4,0.2,setosa,1.388889,Short

In [9]:
# Using lambda function to create a new column 'sepal_area'
data['sepal_area'] = data.apply(lambda row: row['sepal_length'] * row['sepal_width'], axis=1)

In [10]:
data.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_length_category,sepal_area
0,5.1,3.5,1.4,0.2,setosa,1.457143,Short,17.85
1,4.9,3.0,1.4,0.2,setosa,1.633333,Short,14.70
2,4.7,3.2,1.3,0.2,setosa,1.468750,Short,15.04
3,4.6,3.1,1.5,0.2,setosa,1.483871,Short,14.26
4,5.0,3.6,1.4,0.2,setosa,1.388889,Short,18.00

In [ ]:








# Displaying the updated dataset with new features
print("\nDataset with New Features:")
print(data.head())